.container {
  gap: 1.8rem;
  grid-template-columns: 14rem auto 22rem;
}

main h2 {
  font-size: 1.5rem;
}

table {
  background: transparent;
  border-radius: 0;
  padding: 0 2rem 0 2rem;
  text-align: start;
  box-shadow: none;
}

table th {
  text-align: start;
}

table tbody td {
  padding: 0.3rem 0 0.3rem 0;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

table tbody tr:last-child td {
  border: none;
}

table tbody tr:last-child td {
  border: none;
}

table tbody tr:first-child td {
  word-wrap: break-word;
}

/*========================== SEARCH MACHINE ============================*/

main .search,
main .title {
  margin-left: 0.5rem;
  text-align: center;
}

main .search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

main .searchInput,
main .searchButton {
  display: flex;
  background: var(--color-light);
  padding: 0.5rem 1.6rem;
  height: 43px;
  align-items: center;
}

main .searchInput {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

main .searchButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  user-select: none;
  cursor: pointer;
}

main .search input {
  background: transparent;
  color: var(--color-dark);
  font-family: poppins, sans-serif;
  font-size: 18px;
}

/*========================== SYSTEM INFO AND LOCATION ============================*/
main .system-info,
main .location {
  display: grid;
  grid-template-columns: repeat(1fr);

  margin-top: 1rem;
}

main .card .header span {
  margin-left: 5px;
  margin-top: 5px;
  color: var(--color-dark-variant);
  font-weight: bold;
}

main .system-info .card .content,
main .location .card .content {
  display: block;
  max-height: 100%;
}

main .system-info .card .content .informations,
main .location .card .content .informations {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

main .system-info .user .user-info div {
  display: flex;
  align-items: center;
}

main .system-info .card span.material-icons-sharp {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

main .system-info .card .content p,
main .location .card .content p {
  font-size: 1rem;
}

main .system-info .card .content .specifications p,
main .location .card .content .specifications p {
  text-overflow: ellipsis;
  word-wrap: break-word;
}

main .system-info .card .content p span,
main .location .card .content p span {
  font-weight: 500;
  color: var(--color-dark);
}

main .location .card .content .informations .geolocation .country p span {
  font-weight: 500;
  color: var(--color-dark);
}

main .system-info h3,
main .location h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1.2rem;
}

main .location .card .content .informations .geolocation .country {
  display: flex;
  flex-direction: row;
}

main .location .card .content .informations .geolocation .country img {
  height: 1.2rem;
  width: 1.2rem;
  object-fit: contain;
  margin-left: 0.5rem;
}

main .location .card .content .maps img {
  object-fit: cover;
  border-radius: 10px;
  margin-top: 1.5rem;
}

/*========================== INSIGHTS ============================*/

main .insights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  margin-top: 2rem;
}

main .card {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow-1);
  transition: var(--transition-animation);
}

main .card:hover {
  box-shadow: none;
}

main .card .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
}

main .card .header > img {
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 1rem;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .card .content {
  max-height: 280px;
}

main .card .content .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .card .text-muted {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}

main .card .text-muted > span {
  margin-right: 5px;
  font-size: 18px;
}

main .memory .content {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .memory .progress {
  position: relative;
}

main .memory .content .progress {
  width: 150px;
}

main .memory .content .progress .number {
  position: absolute;
  top: 18px;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

main .cpu .content .progress {
  width: 500px;
}

/*========================== PROCESS ============================*/

main .process {
  display: grid;
  grid-template-columns: repeat(1fr);

  margin-top: 2rem;
}

main .process .card .content {
  display: block;
  max-height: 100%;
}

main .process .card .content .progress {
  width: 45px;
  height: 45px;
  margin-left: -10px;
}

main .process .card .content tbody tr td:last-child .progress {
  width: 45px;
  height: 45px;
  margin-left: 8px;
}

main .process .card .content .progress .number {
  position: relative;
  top: -39px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 9px;
}

/*========================== DISK USAGE ============================*/

main .disk-usage {
  margin-top: 3rem;
}

main .disk-usage .card .content {
  display: block;
  max-height: 100%;
}

/*========================== INSTALLED SOFTWARE ============================*/

main .installed-software {
  margin-top: 3rem;
}

main .installed-software .card .content {
  display: block;
  max-height: 100%;
}

/*========================== MEDIA QUERIES ============================*/

/*==== MAX-WIDTH 1200px ====*/

@media screen and (max-width: 1200px) {
  main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
